antlr4-python3-runtime==4.8
bitarray==2.6.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
Cython==0.29.33
fairseq==0.12.2
filelock==3.9.0
huggingface-hub==0.12.0
hydra-core==1.0.7
idna==3.4
joblib==1.2.0
lxml==4.9.2
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.0.6
packaging==23.0
portalocker==2.7.0
pycparser==2.21
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
sacrebleu==2.3.1
scikit-learn==1.2.1
scipy==1.10.0
sentencepiece==0.1.97
sklearn==0.0.post1
tabulate==0.9.0
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.13.1
torchaudio==0.13.1
tqdm==4.64.1
transformers==4.26.0
typing_extensions==4.4.0
urllib3==1.26.14
